.a_tbdr{
    border:1px dashed red;
}

header{
    height: 100px;
    border:1px dashed blue;
}
main{
    height: auto;
    border:1px dashed green;
}
footer{
    height: 200px;
    border:1px dashed orange;
}
.mean-2{
    margin-right: 20px;
    border-right: 10px;
    font-style: serif;
    forced-color-adjust: black;
    text-underline-position: auto;
}